body {width: auto;
  background-color: #F6F6F6 ;
  margin: 0;
  padding: 0;
  text-align: center;
}

.top-container {
  background-color: #F5E8C7;
  text-align: center;
  margin: 10px auto 0 auto;
  padding: 20px auto 0 auto;
  font-weight: normal;
  line-height: 2rem;
}

.top-cloud {
  margin-top: 0;
  padding-top: 5px;
  position: relative;
  top: 0;
  left: 25%;
}

.bottom-cloud {
  margin-bottom: 0px;
  position: relative;
  bottom: 350px;
  right: 280px;
}

.mountainn {
  position: relative;
  margin-left: 0;
  padding-bottom: 0 0 0 0;
  text-align: center;
}

.job-description {
  font-size: 1.5rem;
  font-style: italic;
  font-family: helvetica;
  font-weight: bolder;
  color: #6F4C5B;
  line-height: 1px;
}

img {
  background-color: #F5E8C7;
  margin: 50px auto;
  text-align: center;
  padding: 0;
}

hr {
  width: 4%;
  margin: auto;
  padding: auto 40px auto 40px;
  border-top: 6px dotted #6F4C5B;
}

h1 {
  color: #6F4C5B;
  font-family: Sacramento, helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 2.6em;
  text-align: center;
}

h2 { margin-bottom: 10px;
  color: #6F4C5B;
  font-family: Montserrat, helvetica, sans-serif;
  font-weight: normal;
  padding: 10px;
}

h3 {
  color: #6F4C5B;
  font-family: Montserrat, helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
}

span {margin-right: 30%;
  text-align: center;
  text-decoration: none;
}

.middle-container { width: auto;
  background-color: #F6F6F6;
  text-align: center;
  margin: auto;
  padding: 20px auto 0 auto;
  font-weight: normal;
  line-height: 2rem;
}

.profile {text-align: center;
  width: 80%;
  margin-left: 10%;

}

.p {text-align: center;
  margin-right: auto;
  text-decoration: line-through;

}
.profile-img{width: 250px;

}


.skill-row { width: 50%;
  margin: 120px auto 120px auto;
  text-align: left;
  line-height: 2.0;

}


.construction-img {margin: 0 ;
  padding: 0;
  width: 25%;
  float:right;
}

.Ambitious-img {margin: 0;
  padding: 0;
  width: 55%;
  float: left;
}

.web-img {margin: 0 30px 20px 0;
  padding: 0;
  width: 25%;
  float: left

}

ul {margin:0;
  padding: 0;
  text-decoration: none;
  text-align: right;
  list-style: none;
}

.btn{background-color: gold;
  margin-bottom: 15px;
  padding: 5px;
  border: 1px solid;
  border-radius: 8px;
  text-decoration: none;
  font-size: 15px

}

.bottom-container{ text-align: center;
  background-color: #DEBA9D;
  margin:auto;
  margin-top: 10px;
  padding:20px 0 10px 5px;
  line-height: 1rem;
}

.contact-message{ width: 20%;
margin:40px auto;
}
.fixed-button{
  display:block;
  position:fixed;
  top: 25%;
  left:-35px;
}

.footer-link{ margin-right: 20px;
  text-decoration:none;

}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.a::after{
  color: purple;
}
.a::before{
  color: #DEBA9D;
}

.a:visited{
  color: gold;
}

a:link {
  text-decoration: none;
  color: blue;
}

a:visited {
  text-decoration: none;
  color:;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}
@media query {

}
